<% layout('./boilerplate')%>
<div class="d-flex justify-content-center"><h1>Products</h1></div>
<a href="/products/createproduct" class="btn btn-primary mb-3" style="text-decoration: none;">Crate product</a>
<div class="container d-flex flex-wrap">
<% for(let prod of products) { %>
    <div class="col-4 ">
      <a href="/products/<%=prod.id%>">
    <div class="card mb-5" style="width: 18rem;">
        <img src="<%=prod.image%>" onerror="this.src='https://nowywilczak.pl/wp-content/uploads/2016/04/default-placeholder.png'" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title"><%=prod.name%></p>
        </div>
      </div>
    </a>
    </div>
<% } %>
</div>